.terms_of_service {
  padding: 70px 120px;
}
.terms_of_service p {
  font-size: 1.2rem;
}
.terms_of_service h2 {
  font-size: 25px;
  color: var(--dark-blue);
}
@media screen and (max-width: 960px) {
  .terms_of_service {
    padding: 70px 20px;
  }
}
