.animatedmodal_backdrop {
  position: fixed;
  height: 100vh;
  width: 80vw;
  top: 0;
  /* left: 0; */
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999999;
  backdrop-filter: blur(2px);
}
.full_backdrop {
  width: 100vw;
  left: 0;
}
.animatedmodal_content_wrapper {
  position: fixed;
  /* min-height: 33rem; */
  height: inherit;
  width: 500px;
  background: white;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  /* justify-content: flex-start; */
  text-align: left;
  padding-left: 1rem;
  align-items: flex-start;
}
@media screen and (max-width: 760px) {
  .animatedmodal_backdrop {
    width: 100vw;
  }
  .animatedmodal_content_wrapper {
    height: 90%;
    width: 90%;
    max-width: 99vw;
    /* background: aqua; */
    /* display: none; */
  }
  .full_backdrop {
    width: 100vw;
  }
}
