.product-item {
  height: 280px;
  width: 250px;
  box-shadow: var(--box-shadow);
}
.product-list-item {
  padding: 4rem 3rem 4rem;
  width: 92vw;
  display: grid;
  grid-template-columns: 300px repeat(3, auto);
  /* grid-template-columns: 300px 4fr; */
  /* gap: 1rem; */
  row-gap: 2rem;
}
