:root {
  --grey: #f3f3f3;
  --grey2: rgb(242, 244, 246);
  --light-orange: #ff5900a3;
  --lightblue-blue: #1477ff;
  --lightblue-light-blue: #72e9f3;
  --pink: #e61de7;
  --danger: #ff7782;
  --success: #41f1b6;
  --light: rgba(132, 139, 200, 0.18);
  --box-shadow: 0 2rem 3rem var(--light);
  /* brand colors */
  --black: #000;
  --white: #fff;
  --light-gold: #daa520;
  --dark-gold: #905b0b;
  --orange-gradient: linear-gradient(
    to top,
    rgb(247, 111, 93),
    rgba(255, 145, 0, 0.827)
  ) !important;
  /* rgb(247, 111, 93),
    rgba(255, 145, 0, 0.827) 
    !important */
  --gold-gradient: linear-gradient(
    85deg,
    #daa520,
    #905b0b,
    #daa520,
    #f7c477
  ) !important;
}
* {
  font-family: "Inter", sans-serif;
}

.navbar {
  height: 70px;
  display: flex;
  /* justify-content: start; */
  /* align-items: flex-start; */

  /* justify-content: center;
  align-items: center; */
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  /* background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  ); */
  background: white;
  backdrop-filter: blur(145px);
  -webkit-backdrop-filter: blur(145px);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 30px;
}

.navbar-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* padding-right: 180px; */
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-logo img {
  height: 90px;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  /* justify-content: end; */
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}
.underline_link {
  border-bottom: 5px solid var(--light-gold);
}
/* .nav-item:hover {
  display: none;
} */

.nav-links {
  color: var(--dark-blue);
  display: flex;
  font-weight: 400;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  height: 100%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-size: 200% 100%;
  border-top-left-radius: 10rem;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: red; */
  transition: all 0.3s ease-in-out;
}
.categories-dropdown {
}
.categories-dropdown:hover + .categories-content {
  display: flex;
  flex-direction: column;
  width: 10rem;
  align-items: flex-end;
  justify-content: right;
  transition: all 100ms ease-in;
}
/* For visibility */
.categories-content {
  display: none;
  font-size: 13px;
  transition: all 10s ease-in;
  position: absolute;
  background: white;
  padding: 2px;
  margin-bottom: 3.6rem;
}
.nav-links::before {
  content: "";
  /* background: #54b3d6; */
  background: linear-gradient(
    to top,
    rgb(247, 111, 93),
    rgba(255, 145, 0, 0.827)
  );
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  border-radius: 20px;
  height: 8px;
  transition: all 0.3s ease-in-out;
}

.nav-links:hover {
  /* border-bottom: 2px solid var(--light-purple); */
  margin-left: 10px;
  background-position: 0;
}
.nav-links:hover::before {
  width: 50px;
  margin-left: 10px;
}
.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

/* smaller creens */
@media screen and (max-width: 960px) {
  .container {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .navbar {
    height: 85px;
  }
  .nav-items {
    /* position: relative; */
    /* width: 16%; */
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 455px;
    text-align: right;
    /* padding: 5rem; */
    position: absolute;
    top: 0px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    margin-top: 6rem;
  }
  .nav-menu li {
    margin-right: 3rem;
  }
  .nav-menu.active {
    background: white;
    left: 0;
    box-shadow: 0px 15px 10px -15px;
    width: 110%;
    opacity: 1;
    max-width: 99.9%;
    transition: all 0.6s ease;
    z-index: 0;
    align-items: flex-end;
    padding: 0;
    /* margin-left: -2rem; */
    /* backdrop-filter: blur(145px);
    -webkit-backdrop-filter: blur(145px); */
  }

  .nav-links {
    text-align: right;
    padding: 0.5rem;
    padding-right: 0;
    color: black;
  }

  .nav-links:hover {
    color: #ffffff;
    transform: scale(1.2);
    /* transition: all 0.3s ease; */
  }

  .nav-item:hover {
    /* transition: none; */
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 10px;
    left: -0px;
    /* transform: translate(-5%, -20%); */
  }
  .navbar-logo img {
    height: 60px;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    /* transform: translate(-100%, 60%); */
    /* font-size: 1.8rem; */
    cursor: pointer;
    color: #fff;
    background: var(--gold-gradient);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.5rem;
    z-index: 99;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    z-index: 999;
  }
}
/* smaller endes */
